<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serein.mapper.PassageTagMapper">

    <resultMap id="BaseResultMap" type="com.serein.model.entity.PassageTag">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="passageId" column="passageId" jdbcType="BIGINT"/>
            <result property="tagId" column="tagId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,passageId,tagId,
        createTime
    </sql>
  <insert id="insertPassageTags" parameterType="map">
    INSERT INTO blog.passage_tag (passageId, tagId)
    <foreach collection="tagIds" item="tagId" separator=",">
      VALUES (#{newPassageId}, #{tagId})
    </foreach>
  </insert>


</mapper>
