<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serein.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.serein.model.entity.User">
            <id property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="avatarUrl" column="avatarUrl" jdbcType="VARCHAR"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="TINYINT"/>
            <result property="profiles" column="profiles" jdbcType="VARCHAR"/>
            <result property="interestTag" column="interestTag" jdbcType="VARCHAR"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="mail" column="mail" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="VARCHAR"/>
            <result property="accessKey" column="accessKey" jdbcType="VARCHAR"/>
            <result property="secretKey" column="secretKey" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,avatarUrl,userName,
        sex,profiles,interestTag,
        userAccount,password,mail,
        phone,role,accessKey,
        secretKey,level,createTime,
        updateTime,status,isDelete
    </sql>
</mapper>
